<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- message %>

            <p class="funny-error-404">The 504 Gateway Timeout Error indicates that the server didn't receive a timely
                response from an upstream server it needed to access in order to complete a request.</p>